<section class="ezy__copyright9 light py-12 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white">
    <div class="container px-4">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4">
                <div class="flex flex-col justify-center items-center text-center">
                    <div class="flex items-center justify-center mb-6">
                        <div>
                            <img src="https://assets.easyfrontend.com/images/logo/easy-frontend-logo.svg" alt=""
                                class="max-w-full h-auto" />
                        </div>
                        <div>
                            <p class="pl-3">&#169; Copyright all rights reserved</p>
                        </div>
                    </div>
                    <p class="opacity-75 mb-6">
                        Is heaven male their dry doesn't without him set saw two him man itself second fifth light
                        over fish
                        over which creepeth void don't. Image darkness gathering. All hath don't it, abundantly
                        darkness can't
                        forth appear, in.
                    </p>
                    <ul class="flex gap-4 justify-content-center">
                        <li>
                            <a href="" class="text-xl hover:text-blue-600 transition duration-300"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="" class="text-xl hover:text-blue-600 transition duration-300"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" class="text-xl hover:text-blue-600 transition duration-300"><i
                                    class="fab fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="" class="text-xl hover:text-blue-600 transition duration-300"><i
                                    class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
