<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Dev</title>

    <link href="../public/assets/css/output.css" rel="stylesheet">
  </head>
  <body>
    <!--====== Header part start ======-->
    <%- include('partials/header') %>
    <!--====== Header part end ======-->

    <!--====== main part start ======-->
    <%- body %>
    <!--====== main part end ======-->

    <!--====== Footer Area Start ======-->
    <%- include('partials/footer') %>
    <!--====== Footer Area End ======-->

    <script src="../node_modules/flowbite/dist/flowbite.min.css"></script>
  </body>
</html>
